ul {
    background-color: lightslategray;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    margin: 10px;
    padding: 10px;
}

/* Align Self */

/* 1.1 */
/* Auto (Default) => Aligns according to parent's align-items property's value */
/* li:first-child { */
/*     align-self: auto; */
/* } */

/* 1.2 */
/* Flex End */
/* li:first-child { */
/*     align-self: flex-end; */
/* } */

/* 1.3 */
/* Center */
/* li:first-child { */
/*     align-self: center; */
/* } */

/* 1.4 */
/* Stretch */
/* li:first-child { */
/*     align-self: stretch; */
/* } */

/* 1.5 */
/* Baseline */
/* li:first-child { */
/*     align-self: baseline; */ /* to work the parent must have align-items: baseline; too */
/* } */

/* 1.6 */
/* Flex Start */
/* li::first-child { */
/*     align-self: flex-start; */
/* } */
