/* Reset => Universal Selector */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Sports */
#sports {
    background-color: #f8f8f8;

    display: flex;

    justify-content: space-evenly; /* main axis */
    align-items: center; /* cross axis */
}

/* Shared styles for sections */
.sport {
    width: 320px;
    background-image: linear-gradient(135deg, #90f7ec, #32ccbc 100%);
}

/* Improvements(White Space) */
/* Comment in to see how it looked before the improvements. */
#sports {
    padding: 35px;
}

.basketball {
    padding: 27px;
}

.basketball h2 {
    margin-bottom: 10px;
}

.basketball p {
    line-height: 1.5;
    /* line-height: 24px; */
}
