ul {
    background-color: lightslategray;
    padding: 20px;
    display: flex;

    /* Flex Direction */

    /* 1.1 */
    /* Row (Default) */
    /* flex-direction: row; */

    /* 1.2 */
    /* Row Reverse (Default Reverse) */
    /* flex-direction: row-reverse; */

    /* 1.3 */
    /* Column (Vertical) */
    /* flex-direction: column; */

    /* 1.4 */
    /* Column Reverse (Vertical) */
    flex-direction: column-reverse;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
}
