div {
    background-image: linear-gradient(135deg, #eece13 10%, #b210ff 100%);
    height: 300px;
    /* width: 600px; */

    /* Max Width */
    /* max-width: 600px; */ /* flexible bellow max-width value */

    /* Min Width */
    min-width: 600px; /* flexible beyond max-width value */
}
