ul {
    background-color: lightslategray;
    padding: 20px;
    display: flex;

    /* Flex Wrap */

    /* 1.1 */
    /* nowrap (Default) */
    /* flex-wrap: nowrap; */

    /* 1.2 */
    /* wrap */
    /* flex-wrap: wrap; */

    /* 1.3 */
    /* wrap-reverse */
    flex-wrap: wrap-reverse;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
}
