ul {
    background-color: lightslategray;
    padding: 20px;
    display: flex;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    margin: 10px;
    padding: 10px;
}

/* How much the child element will grow and fit in the container */
/* Flex Grow (Default = 0 = Off) */
li:first-child {
    flex-grow: 1;
}

li:nth-child(3) {
    flex-grow: 2;
}
