ul {
    background-color: lightslategray;
    padding: 20px;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    margin: 10px;
    padding: 10px;
}

/* Order (Default = 0) (Value => a + or - number, values are located
 * on the main axis which is horizontal (default) it the flex direction
 * is row (default). If the flex direction is column then the main axis
 * becomes vertical). Negative numbers come first, and if you are indexing
 * only one child then -1 or 1 will be the enought to move it to the first
 * or last position respectively.
 */

/* When the flex direction is Row/Column */
/* + values */
li:nth-child(3) {
    order: 1;
}

li:nth-child(1) {
    order: 3;
}

li:nth-child(6) {
    order: 2;
}

li:nth-child(5) {
    order: 5;
}

/* + values */
li:nth-child(8) {
    order: -1;
}

li:nth-child(2) {
    order: -2;
}
