/* Flex Container => Parent */
body {
    display: flex;
    flex-wrap: wrap; /* children elements go to the next line when the screen becomens smaller */
}

/* Flex Items => Children */
section {
    width: 20rem;
    background-color: lightslategray;
    padding: 1.5rem;
    margin: 1rem;
    color: white;
}

div.content {
    background-color: #20b2aa;
    padding: 1rem;
}
